export DB_ROOT_PASS=
export DJANGO_DATABASE=
export DJANGO_DB_USER=
export DJANGO_DB_PASS=
export DJANGO_DB_PORT=
export DJANGO_SECRET_KEY=

export DOCKER_MYSQL_CONTAINER=
export DOCKER_APACHE_CONTAINER=
export DOCKER_CERTBOT_CONTAINER=
export DOCKER_MATOMO_CONTAINER=matomo

export MAIL_USER=
export MAIL_PASS=
export MAIL_PORT=
export MAIL_HOST=

export DOMAINS=

export MATOMO_DATABASE=matomo
